body {
        margin: 0;
    }
header {
    height: 80px;
    box-shadow: 0px 5px 13px 2px #C2C2C2;
    display : flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

.left {
    display: flex;
    align-items: center;
    gap: 15px
}


header a  {
    margin-right: 25px;
    text-decoration: none !important;
    color: #737373;
    
}

header a:hover {
    color: #5e27f59c;
    transform: translateY(-2px);
    }


.uberschrift {
    text-align: center;
    margin-top: 50px;
     font-family: 'Poppins', sans-serif; font-weight: 600;
    
 }

 .uberschrift a {
    text-decoration: none !important;
    color: #000000;
    }
 
 .con {
    text-align: center;
    margin-top: 60px;
     font-family: 'Poppins', sans-serif; font-weight: 600;
     background-color: #3a58c4b6;
     padding: auto;
     border-radius: 20px;
     margin: 0px 20px;
     
 }

 .btn {
    display: inline-block;
    padding: 12px 24px;
    background-color: #4a6cf7;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: 600;
    transition: 0.2s ease;
}

.btn:hover {
    background-color: #3a57c4;
    transform: translateY(-5px);
}
