/*Allgemeine Formatierung*/
body {
        margin: 0;
    }
    /*Navileiste*/
header {
    height: 80px;
    box-shadow: 0px 5px 13px 2px #C2C2C2;
    display : flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}
    /*Logo und Titel in der Navileiste*/
.left {
    display: flex;
    align-items: center;
    gap: 15px
}

    /*Links in der Navileiste*/
header a  {
    margin-right: 25px;
    text-decoration: none !important;
    color: #737373;
    
}
    /*Hover Effekt f端r die Links in der Navileiste*/
header a:hover {
    color: #5e27f59c;
    transform: translateY(-2px);
    }

    /*Uberschrift*/
.uberschrift {
    text-align: center;
    margin-top: 50px;
     font-family: 'Poppins', sans-serif; font-weight: 600;
    
 }
    /*Links in der Uberschrift*/
 .uberschrift a {
    text-decoration: none !important;
    color: #000000;
    }
    /*Standart f端r Container*/
 .con {
    text-align: center;
    margin-top: 60px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    background-color: #3a58c4b6;
    padding: 0;
    border-radius: 20px;
    margin: 0 20px;
    margin-bottom: 70px;
}

/* Desktop */
@media (min-width: 1024px) { 
    .con {
     margin: 0 400px;
    }
}

/* Tablet */
@media (min-width: 800px) and (max-width: 1023px) { 
    .con {
     margin: 0 100px;
    }
}

    /*Standart f端r Buttons*/
 .btn {
    display: inline-block;
    padding: 12px 24px;
    background-color: #4a6cf7;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: 600;
    transition: 0.2s ease;
}
    /*Hover Effekt f端r Buttons*/
.btn:hover {
    background-color: #3a57c4;
    transform: translateY(-5px);
}

.teambild {
    
}