/*Allgemeine Formatierung*/
body {
        margin: 0;
     background: radial-gradient(circle at top, #15192b 0, #05060a 55%);

    color: #f5f7ff;
    

    }
    /*Navileiste*/
header {
    height: 80px;
    box-shadow: 0px 5px 13px 2px rgba(0, 0, 0, 0.45);
    display : flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}
    /*Logo und Titel in der Navileiste*/
.left {
    display: flex;
    align-items: center;
    gap: 15px
}

    /*Links in der Navileiste*/
header a  {
    margin-right: 25px;
    text-decoration: none !important;
    color: #acaaaa;
    
}
    /*Hover Effekt für die Links in der Navileiste*/
header a:hover {
    color: #00ccff;
    transform: translateY(-2px);
    }

    /*Uberschrift*/
.uberschrift {
    text-align: center;
    margin-top: 50px;
     font-family: 'Poppins', sans-serif; font-weight: 600;
    
 }
    /*Links in der Uberschrift*/
 .uberschrift a {
    text-decoration: none !important;
    color: #000000;
    }
    /*Standart für Container*/
 .con {
    text-align: center;
    margin-top: 60px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    background-color: #845ef576;
    padding: 4;
    border-radius: 20px;
   margin-bottom: 20px !important;
}
    /*Container für Fotos*/
.con-big img { width: 300px; height: auto; }

/* Desktop */ @media (min-width: 1024px) { 
    .con {
     margin: 0 400px;
    }
}

/* Tablet */
@media (min-width: 500px) and (max-width: 1400px) { 
    .con {
     margin: 0 80px;
    }
}



    /*Standart für Buttons*/
 .btn {
    display: inline-block;
    padding: 12px 24px;
    background-color: #4a6cf7;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: 600;
    transition: 0.2s ease;
    margin-top: 20px;
    box-shadow: 0 12px 30px rgba(76, 175, 239, 0.35);

}
    /*Hover Effekt für Buttons*/
.btn:hover {
    background-color: #3a57c4;
    transform: translateY(-5px);
}

#team {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px; /* Abstand zur linken Containerwand */
    margin-top: 20px;
}

#team .team-member {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

/* Textblock */
#team .team-member .info {
    display: flex;
    flex-direction: column;
}

.name {
    font-size: 2rem;
    margin: 0;
}

.textklein {
    font-size: 0.8rem;
    margin: 0;
}

/* --- Handy-Optimierung --- */
@media (max-width: 600px) {
    #team .team-member {
        flex-direction: column; /* Kopf über Text */
        align-items: center;    /* alles schön mittig */
        text-align: center;
    }

    #team {
        align-items: center; /* Teamliste mittig */
        padding-left: 0;     /* auf Handy kein unnötiger Rand */
    }

}

